@keyframes pageStart {
    from {-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}
    to { -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);}
}
  @-webkit-keyframes pageStart {
    from {-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}
    to { -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);}
}

@keyframes fadeUp {
  from {
    opacity: 0;
    top:20px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}