@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
@import 'reset.css';
@import 'animations.css';

html,body{
  width: 100%;
  height: 100%;
}
body{
  font-style:16px;
  background:#eee;
}
h1{
  font:300 2em 'Poppins', sans-serif;
}
h1 span{
  font-weight:600;
}
h2{
  color:#201625;
  font:300 1.2em 'Poppins', sans-serif;
  margin-bottom:40px;
}
.section-heading{
  text-align: center;
  font-weight: 500;
}
#background{
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

header{
  padding: 40px 0px 0px;
  height: 50px;
  position:relative;
  z-index: 2;
}

svg{
  height: 125px;
}
/* TOP SECTION */
.top-section{
  position:relative;
  width: 100%;
  height: calc(80% - 90px);
  color:#222222;
  z-index: 2;
      background: #fff;
   animation: pageStart 1s forwards; 
}
.top-section .content{
  max-width: 1240px;
  width: 95%;
  position:absolute;
  top:calc(50% + 15px);
  left:50%;
  transform:translate(-50%, -50%);
}
.top-section p{
  font:300 1.4em 'Poppins', sans-serif;
  line-height:2em;
  opacity: 0.9;
}
.top-section h1{
  font:400 2em 'Poppins', sans-serif;
  line-height:2em;
}
.top-section h1 span{
  font-weight:600;
  /* color:#fff; */
  /* background:#eee; */
  padding:0 0.2em;
}
.top-section hr{
  width: 200px;
  border: 2px solid #eee;
  border-radius:10px;
  margin-bottom:20px;
}

.headerTextBlock{
  width: 100%;
  max-width:450px;
}

.worked-on{
  width: 100%;
  padding:40px 0px;
  position:relative;
}

.inner{
  max-width: 1240px;
  width: 95%;
  margin:0 auto;
}

.share{
  height: 50px;
  width: 170px;
  font-size:20px;
  float:right;
}
.share a{
  color:#fff;
  display:inline-block;
  width: 35px;
  height: 35px;
  /* background:#5D31C6; */
  border-radius:100%;
  line-height:35px;
  text-align:center;
  margin:0;
  margin-right:10px;

}
.share a:last-of-type{
  border:0;
  padding:0;
  margin:0;
}
.share a:hover{
    /* color: #8981f3; */
    transition: all 0.2s linear;
}


@media screen and (max-width: 480px) {
  body{
   font-size:10px;
  }
  .top-section hr{
    border:0px solid #eee;
    border:1px solid #eee;
  }
  .top-section p{
    font-size:2em;
  }
  h2{
    font-size:1.8em;
  }
  .cardLeft, .cardRight {
    position: relative;
    width: 100%;
    height: 50%;
    float: none;
}
  .top-section .content {
    top: calc(50% + 30px);
}
  .card.odd .cardRight {
    font-size:1.3em;
  }
    .card.even .cardLeft {
    font-size:1.3em;
  }
  .cardLeft:after, .cardRight:after {
    display:none;
  }
  .top-section{
    height: calc(90% - 90px);
}
}




