@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");
@import "reset.css";
@import "animations.css";

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-style: 16px;
    background: #eee;
}
h1 {
    font: 300 2em "Poppins", sans-serif;
}
h1 span {
    font-weight: 600;git
}
h2 {
    color: #201625;
    font: 300 1.2em "Poppins", sans-serif;
    margin-bottom: 40px;
}
.section-heading {
    text-align: center;
    font-weight: 500;
}
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header {
    padding: 40px 0px 0px;
    height: 50px;
    position: relative;
    z-index: 2;
}


#logo{
    width: 100px;
    height: 100px;
}

#logo .st0{
    fill:#fff
}

#logo .st1{
    fill:#fff
}


nav {
    float: right;
    font: 600 0.9em "Poppins", sans-serif;
    opacity: 0;
    animation: fadeDown 0.5s forwards;
    position: relative;
}
nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 0.8em;
}
nav a:hover {
    background: #000;
    color: #fff;
    transition: all 0.2s;
}
/* TOP SECTION */
.top-section {
    position: relative;
    width: 100%;
    height: calc(80% - 90px);
    color: #fff;
    z-index: 2;
    /* background: #313de2; */
    background: #000;
    /* background-image: url('/images/IMG_00054.png'); */
    background-size:cover;
    background-position: center;
    animation: pageStart 0.5s forwards;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size:105%;
    background-position: center center;
    background-image: url('/images/bottom_layer.png');
    opacity: 0;
    animation: pageStart 0.5s forwards, fadeIn 1s 0.5s forwards,backgroundBottom 15s 0.5s infinite;
}
.background:before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-size:105%;
    background-position: center center;
    background-image: url('/images/middle_layer.png');
    animation: backgroundMiddle 15s 0.5s infinite;
}
.background:after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-size:105%;
    background-position: center center;
    background-image: url('/images/top_layer.png');
    animation: backgroundTop 15s 0.5s infinite;
}

.top-section.scrolled{
    width: 50px;
    height: 50px;
    transition: all 0.2s;
    border-radius:100%;
    animation: none;
    position: relative;
    left:50%;
}

.top-section.scrolled *{
    display: none;
} 

.top-section .content {
    max-width: 1240px;
    width: 90%;
    position: absolute;
    top: calc(50% + 15px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-section p {
    font: 300 1.4em "Poppins", sans-serif;
    line-height: 2em;
    opacity: 0;
    position: relative;
    animation: fadeUp 0.8s 0.5s forwards;
}
.top-section h1 {
    font: 400 2em "Poppins", sans-serif;
    line-height: 2em;
    opacity: 0;
    position: relative;
    animation: fadeUp 0.8s forwards;
}
.top-section h1 span {
    font-weight: 600;
}
.top-section hr {
    width: 200px;
    border: 2px solid #eee;
    border-radius: 10px;
    margin-bottom: 20px;
}

.headerTextBlock {
    width: 100%;
    max-width: 450px;
}
.headerTextBlock a {
    display: inline-block;
    color: #888;
    text-decoration: none;
}

.headerTextBlock a:hover {
    text-decoration: underline;
    transition: all 0.2s;
}

.worked-on {
    width: 100%;
    padding: 40px 0px;
    position: relative;
}

.inner {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

.share {
    position: absolute;
    right: 0;
    width: 30px;
}
.share a {
    display: block;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    line-height: 30px;
    /* color: #313de2; */
    color: #888;
    margin-bottom: 10px;
    position: relative;
    opacity: 0;
}
.twitter {
    animation: fadeUp 0.25s forwards;
}
.facebook {
    animation: fadeUp 0.25s 0.25s forwards;
}
.codepen {
    animation: fadeUp 0.25s 0.5s forwards;
}
.github {
    animation: fadeUp 0.25s 0.75s forwards;
}
.share a:last-of-type {
    border: 0;
    padding: 0;
    margin: 0;
}
.share a:hover {
    color: #313de2;
    transition: all 0.2s linear;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }
    .top-section hr {
        border: 0px solid #eee;
        border: 1px solid #eee;
    }
    .top-section p {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    .cardLeft,
    .cardRight {
        position: relative;
        width: 100%;
        height: 50%;
        float: none;
    }
    .top-section .content {
        top: calc(50% + 30px);
    }
    .card.odd .cardRight {
        font-size: 1.3em;
    }
    .card.even .cardLeft {
        font-size: 1.3em;
    }
    .cardLeft:after,
    .cardRight:after {
        display: none;
    }
    .top-section {
        height: calc(90% - 90px);
    }
}



@-webkit-keyframes loadingUp {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(90%, 90%);
            transform: translate(0%, -90%);
    opacity: 0;
  }
}
@keyframes loadingUp {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform:scale(1.25) translate(0%, 0%);
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform:scale(0) translate(0%, -300%);
    opacity: 0;
  }
}
body {
  background: #000;
}
.loader {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
 transform:translate(-50%,-50%);
  box-shadow: 0px 0px 250px rgba(251, 195, 90, 1), 0px 0px 250px rgba(251, 195, 90, 1), 0px 0px 250px rgba(251, 195, 90, 1);
}
.loader:before{
content:'';
  width: 20px;
  height: 150px;
  background:#67522e;
  position:absolute;
  top:50px;
  left:5px;
}
.loader:after{
content:'';
  width: 20px;
  height: 150px;
  background:#342510;
  position:absolute;
  top:50px;
  right:5px;
}
.loader li {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fbc35a;
  box-shadow: 0px 0px 25px rgba(251, 195, 90, 0.43);
  z-index:10;
}
.loader li:nth-child(1) {
  background: #ef8b21;
  -webkit-animation: loadingUp 1s ease 0.15s infinite;
          animation: loadingUp 1s ease 0.15s infinite;
}
.loader li:nth-child(2) {
  background: #ffdb22;
  -webkit-animation: loadingUp 1s ease 0.30s infinite;
          animation: loadingUp 1s ease 0.30s infinite;
}
.loader li:nth-child(3) {
  background: #ef8b21;
  -webkit-animation: loadingUp 1s ease 0.45s infinite;
          animation: loadingUp 1s ease 0.45s infinite;
}
.loader li:nth-child(4) {
  background: #ef8b21;
  -webkit-animation: loadingUp 1s ease 0.60s infinite;
          animation: loadingUp 1s ease 0.60s infinite;
}
.loader li:nth-child(5) {
  background: #ef8b21;
  -webkit-animation: loadingUp 1s ease 0.75s infinite;
          animation: loadingUp 1s ease 0.75s infinite;
}
.loader li:nth-child(6) {
  background: #ef8b21;
  -webkit-animation: loadingUp 1s ease 0.90s infinite;
          animation: loadingUp 1s ease 0.90s infinite;
}
.loader li:nth-child(7) {
  background: #ef8b21;
  -webkit-animation: loadingUp 1s ease 1.05s infinite;
          animation: loadingUp 1s ease 1.05s infinite;
}
.loader li:nth-child(8) {
  background: #ef8b21;
  -webkit-animation: loadingUp 1s ease 1.20s infinite;
          animation: loadingUp 1s ease 1.20s infinite;
}

