.page_top_services{
    background-image: url('../Assets/factory-8858790_1920.png');
}

li{
    font-weight: 800;
    line-height: 2;
    margin-bottom: 10px;
}

li li{
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}