@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,600);

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html{
  background: #000;
  font: normal 1em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  height: 100%;
}
body{
  height: 100%;
}
#videoContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
video{
  display: block;
  width: 100%;
  height: auto;
}
.videoBg {
  height: 100%;
  overflow: hidden;
}
.videoBg:before{
  content: "";
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.videoBg:after{
  content: "";
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpiZGBg8AVihv///28G0UwMaIARKIMigKECIMAASJsHAYcd2RAAAAAASUVORK5CYII=);
  background-size: 2px 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.videoBg .inner{
  display: table;
  width: 100%;
  max-width: 24em;
  height: 100%; 
  margin: 0 auto; 
  padding: 0;
  position: relative; 
  z-index: 2; 
  text-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.videoBg .inner > div{
  text-align: center; 
  display: table-cell;
  vertical-align: middle; 
  padding: 0 2em;
}
svg{
 width: 200px;
 height: 200px;
 fill:#fff;
}
h1{
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  text-transform: uppercase;
}
h1 span{
  font-weight: 100;
}
.content{
  width: 100%;
  height: 500px;
}
